@import '../variables';
.quiz-friends {
  .ui.list>.item>img.image+.content {
    color: white;
  }
  .ui.divided.inverted.list>.item {
    border-color: darken($lavender, 15%);
  }
  .ui.button {
    width: 250px;
    color: white;
    background: lighten($dark-gray, 15%);
    transition: background .2s;
    &:hover {
      background: lighten($dark-gray, 45%);
    }
  }
  .ui.divided.list>.item {
    border-top: 0px;
  }
  oi-select .select-search-list-item_input {
    margin: 0;
  }
}

h3.question-text {
  color: $dark-purple;
}

.ui.segment.inverted {
  &.top.attached {
    border-color: $dark-gray;
  }
  p.question-text {
    color: $bright-teal;
    margin: 0 0 .5em;
  }
}

.ui[class*="bottom attached"].buttons .button:first-child {
  background: darken($lavender, 10%);
  color: white;
  &:hover {
    background: darken($lavender, 5%);
  }
}

.ui[class*="bottom attached"].buttons .button:last-child {
  background: $indigo;
  color: white;
  &:hover {
    background: lighten($indigo, 5%);
  }
}

.ui.large.buttons .or:before {
  color: $lavender;
  background-color: $dark-gray;
}

#quiz-question {
  .padded {
    padding-top: 15px;
  }
}

.quiz-complete {
  .header {
    color: $dark-purple;
  }

  .ui.icon.header .icon {
    color: $bright-teal;
  }
  .ui.center.aligned.header, .ui.centered.header {
    color: $bright-teal;
  }
}

.scorecard {
  h1 {
    color: white;
  }
}
