<div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="dark">
                <h2>Signup</h2>
                <form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && sendSignup(signup)">

                    <alert type="danger" ng-show="error">
                        {{ error }}
                    </alert>
                    <div class="form-group">
                        <label for='name'>First Name</label>
                        <input type='text' ng-model='signup.firstName' class='form-control' id='name'>
                    </div>
                    <div class="form-group">
                        <label for='name'>Last Name</label>
                        <input type='text' ng-model='signup.lastName' class='form-control' id='name'>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="text" ng-model="signup.email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" ng-model="signup.password" class="form-control" id="login-password">
                    </div>
                    <button type="submit" class="btn ">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
