<div class="container">
  <div class="row">
    <div class="text-center">
      <h2 class="ui sub header inverted">
        Your score so far…
      </h2>
      <h3>{{ score }}</h3>
    </div>
  </div>
  <div class="row" ng-hide="allQuestionsAnswered">
    <div class="col-md-offset-2 col-md-8">
      <div id="question" class="question clearfix animated" ng-hide="transitioning">
        <uib-progressbar max="100" value="progressBarValue"></uib-progressbar>
        <div class="padded">
          <h2 class="question-text">Which answer do you think {{ subjectOfQuiz.firstName }} {{ subjectOfQuiz.lastName }} chose for this question?</h2>
          <div class="ui segment inverted clearfix top attached">
            <p class="question-text pull-left">{{ question.text }}</p>
            <div class="ui divided selection list pull-right">
              <a class="item">
                <div class="ui teal horizontal label">{{ question.category }}</div>
              </a>
            </div>
          </div>
          <form name="questionAnswers"  class="ui form">
            <div class="ui bottom attached large buttons two">
              <button ng-repeat='answer in answerArr' ng-click="submitAnswer(answer)" class="ui button">{{ answer.text }} </button>
            </div>
          </form>
          <!-- <div class="ui bottom attached large buttons two">
              <button class="ui button">{{ answer.text }}</button>
              <div class="or"></div>
              <button class="ui button">{{ randomWrongAnswer.text }}</button>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
