@import '../variables';
navbar {
  display: block;
  background: none;
  border: 0;
  box-shadow: 1px 1px 14px -3px (0,0,0,0.2);
  .container {
    width: 100%;
    max-width: 1340px;
    padding-top:10px;
    padding-bottom: 10px;
  }
  fullstack-logo {
    width: 30px;
    margin-top: 8px;
    margin-right: 50px;
  }
  a {
    font-size: 13px;
    text-transform: uppercase;
  }
  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    margin-right: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    color: lighten($indigo, 20%);
    &.active {
      color: white;
      border-bottom: 2px solid white;
    }
    &:hover {
      background: none;
      color: white;
    }
    &:focus {
      background: none;
    }
  }
  .login-button {
    float: right;
    border: 1px solid black;
    background: none;
    outline: none !important;
    margin: auto 4px;
  }
  .welcome {
    float: right;
    margin-top: 12px;
    span {
      font-weight: 900;
      text-transform: uppercase;
      color: darken($indigo, 30%);
      font-size: 13px;
      margin-right: 5px;
    }
    a {
      color: lighten($indigo, 20%);
      cursor: pointer;
      &.active {
        color: white;
      }
      &:hover {
        background: none;
        color: white;
        text-decoration: none;

      }
      &:focus {
        background: none;
      }
    }
  }
}
