@import '../variables';
navbar {
  display: block;
  background: $cobalt;
  border: 0;
  box-shadow: 1px 1px 14px -3px black;
  .container {
    width: 100%;
    max-width: 1340px;
    padding-top:10px;
    padding-bottom: 10px;
  }
  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }
  a {
    color: white;
    font-size: 16px;
  }
  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: lighten($light-cobalt, 10%);
    }
    &:hover {
      background: none;
      color: lighten($light-cobalt, 10%);
    }
    &:focus {
      background: none;
    }
  }
  .login-button {
    float: right;
    border: 1px solid black;
    background: none;
    outline: none !important;
  }
  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: darken($cobalt, 30%);
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: white;
      cursor: pointer;
      &.active {
        color: lighten($light-cobalt, 10%);
      }
      &:hover {
        background: none;
        color: lighten($light-cobalt, 10%);
        text-decoration: none;

      }
      &:focus {
        background: none;
      }
    }
  }
}
