* {
  box-sizing: border-box;
}

@import 'variables';
body {
  background: linear-gradient(294deg, #554faf, #3f2159, #5578a8);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 24s ease infinite;
  -moz-animation: AnimationName 24s ease infinite;
  animation: AnimationName 24s ease infinite;
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 86%
    }
    50% {
      background-position: 100% 15%
    }
    100% {
      background-position: 0% 86%
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 86%
    }
    50% {
      background-position: 100% 15%
    }
    100% {
      background-position: 0% 86%
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 86%
    }
    50% {
      background-position: 100% 15%
    }
    100% {
      background-position: 0% 86%
    }
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.spacer {
  margin-top: 15px;
}

.big-spacer {
  margin-top: 30px;
}

.huge-spacer {
  margin-top: 60px;
}


/* Font styles */

p,
span {
  font-family: $body-fonts;
}

a {
  font-family: $body-fonts;
}

/* Header styles */

.dark {
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}


/* Button styles */

button.btn {
  font-family: $body-fonts;
  line-height: 20px;
  background: $fuschia;
  letter-spacing: .2px;
  color: white;
  font-weight: 900;
  &:hover {
    background: lighten($fuschia, 10%);
    color: white;
  }
  &.on-dark {
    background: none;
    color: white;
    border: 0;
  }

}

/* Form styles */

.dark {
  label {
    color: lighten($lavender, 20%);
    font-size: 13px;
  }
  input[type=text], input[type=email], input[type=search], input[type=password] {
    border: 1px solid lighten($lavender, 20%);
    background: lighten($lavender, 20%);
    color: $indigo;
    padding: 10px;
    &:focus {
      outline: none;
      background: white;
      border-color: $indigo;
      box-shadow: 0 0 10px $indigo;
    }
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'answerQuestions/main';
@import 'quiz/main';
@import 'myDb/main';
