@import url(https://fonts.googleapis.com/css?family=Cambay|Pragati+Narrow);

$title-fonts: 'Pragati Narrow', Georgia, serif;
$body-fonts: 'Cambay', Helvetica, sans-serif;
$cobalt: #637DCF;
$rose: #D787A8;
$light-rose: #FFD5D5;
$gray: #898E9B;
$light-gray: #D2D6DF;

$indigo: #554FAF;
$dark-purple: #3F2159;
$fuschia: #9D54AD;
$lavender: #968ACF;
$dark-gray: #1b1c1d;
$bright-teal: #35FFE6;
