@import url(https://fonts.googleapis.com/css?family=Cambay|Pragati+Narrow);

$title-fonts: 'Pragati Narrow', Georgia, serif;
$body-fonts: 'Cambay', Helvetica, sans-serif;
$cobalt: #637DCF;
$coral: #FD7874;
$rose: #F4B5B5;
$light-rose: #FFD5D5;
$light-cobalt: #9FAED4;
$gray: #898E9B;
$light-gray: #D2D6DF;
