<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="dark text-center">
        <h1>How well do you know your friends?</h1>
        <h5>Take a quiz and find out!</h5>
      </div>
      <div class="huge-spacer"></div>
    </div>
  </div>

  <div class="ui basic modal choose-other">
    <i class="close icon"></i>
    <div class="header text-center">
      Choose another person…
    </div>
    <div class="image content text-center">
      <div class="description">
        <p>P.S. Want a challenge? Choose someone "similar" to {{ selectedUser.firstName }}!</p>
      </div>
    </div>
    <div class="ui segment inverted">
      <div class="ui middle aligned divided list">
        <div class="item" ng-repeat="user in users" ng-hide="user === selectedUser">
          <div class="right floated content">
            <div class="ui button" ng-click="playQuiz(selectedUser, user)">Choose {{ user.firstName }}</div>
          </div>
          <img class="ui avatar image" src="http://www.gravatar.com/avatar/{{ user.gravatar }}">
          <div class="content">
            {{ user.firstName }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row quiz-friends">

    <div class="col-lg-6 col-lg-offset-3">
      <div class="ui segment inverted">
        <div class="ui inverted fluid icon input">
          <input type="text" placeholder="Find a new friend…">
          <i class="search icon"></i>
        </div>
      </div>
      <div class="ui segment inverted">
        <div class="ui middle aligned divided list">
          <div class="item" ng-repeat="user in users">
            <div class="right floated content">
              <div class="ui button" ng-click="chooseOther(user)">Play {{ user.firstName }}'s Quiz</div>
            </div>
            <img class="ui avatar image" src="http://www.gravatar.com/avatar/{{ user.gravatar }}">
            <div class="content">
              {{ user.firstName }} {{ user.lastName }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
